{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-section">
  <div class="login-logo">
    <img src="{% static 'images/logo.svg' %}" alt="logo">
  </div>

  <form method="POST">
    {% csrf_token %}
    <div class="user-input">
      <label>ユーザー名</label>
      <input type="text" name="username">
    </div>

    <div class="user-input">
      <label>パスワード</label>
      <input type="password" name="password">
    </div>

    <div class="login-button">
      <button type="submit">ログイン</button>
    </div>
  </form>

  <div class="signup-link">
    <a href="{% url 'accounts:signup' %}">新規登録はこちらから</a>
  </div>
</div>
{% endblock %}
