<!--  -->

<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tec-jam(team8)</title>
  <!-- {% load static %} -->
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/login.css"><!-- {% static 'css/style.css' %} -->
  <!-- {% block extra_css %}{% endblock %} -->
</head>


<body>
<header>
    <div class="user-1">
        <div class="score-txt">今日のスコア</div>
        <div class="score-img"><img src="static/images/homescore.png" alt=""><!--{{ graph }}--></div>
    </div>

    <div class="user-2">
      <div class="header-main-1">
        <a href="#"><img src="static/images/logo.svg" alt="app-loogo"></a>
        <p>頑張らなくても、毎日の食事だけで健康に。</p>
      </div>
      <div class="header-main-2">
        <!-- {% if use.is_authenticated %} -->
        <a href="mypage.html"><img src="static/images/account.svg" alt="icon"></a><!-- {% user_icon %} -->
        <!-- {% else %} -->
        <!-- <a href="mypage.html"><img src="static/images/profile.svg" alt="icon" width="24" height="24"></a> -->
        <!-- {% endif %} -->
      </div>
    </div>
</header>

  <!-- ここから各ページの中身 --><!-- ここから各ページの中身 --><!-- ここから各ページの中身 --><!-- ここから各ページの中身 --><!-- ここから各ページの中身 --><!-- ここから各ページの中身 -->
  <!-- {% block content %} -->

  <div class="login-section">
    <div class="login-logo">
      <img src="static/images/logo.svg" alt="logo">
    </div>
    <form method="POST">
      <!-- {% csrf_token %} -->
      <!-- {% for error in form.errors.values %} -->
      <!-- {{ error }} -->
      <!-- {% endfor %} -->
      <div class="user-input">
        <label>ユーザー名</label>
        <input type="text" name="username">
      </div>
      <div class="user-input">
        <label>パスワード</label>
        <input type="password" name="password">
      </div>
      <div class="login-button">
        <button type="submit">ログイン</button>
      </div>
    </form>
    <div class="signup-link">
      <a href="signin.html">新規登録はこちらから</a>
    </div>
  </div>

  <!-- {% endblock %} -->
  <!-- ここまで各ページの中身 --><!-- ここまで各ページの中身 --><!-- ここまで各ページの中身 --><!-- ここまで各ページの中身 --><!-- ここまで各ページの中身 --><!-- ここまで各ページの中身 -->

  <div class="bottom-1">
    <button type="submit">
      投稿！
    </button>
  </div>

  <footer>
    <div class="bottom-2">
      <nav>
        <a class="homelink" href="home.html"><img src="static/images/home.svg" alt="ホームアイコン" width="24"
            height="24">ホーム</a><!-- {% static 'icons/home.svg' %} -->
        <a class="detaillink" href="detail.html"><img src="static/images/detail.svg" alt="メモアイコン" width="24"
            height="24">献立詳細</a><!-- {% static 'icons/detail.svg' %} -->
        <a class="mypagelink" href="mypage.html"><img src="static/images/mypage.svg" alt="マイページアイコン" width="24"
            height="24">マイページ</a><!-- {% static 'icons/mypage.svg' %} -->
        <a class="postlink" href="post.html"><img src="static/images/post.svg" alt="投稿アイコン" width="24"
            height="24">投稿</a><!-- {% static 'icons/post.svg' %} -->
      </nav>
    </div>
  </footer>
</body>


</html>