{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/logout-confilm.css' %}">
{% endblock %}

{% block title %}ログアウト確認{% endblock %}

{% block content %}
<div class="logout-section">
    <h1>ログアウトしますか？</h1>

    <form method="post">
        {% csrf_token %}
        <button type="submit">ログアウト</button>
    </form>

    <p">
        <a href="{% url 'accounts:profile' %}">キャンセル（戻る）</a>
    </p>
</div>
{% endblock %}