{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/mypage-edit.css' %}">
{% endblock %}

{% block content %}
  <main>
    <form method="POST">
      <div class="edit-section">
          <h2>プロフィール編集</h2>
        <div class="edit-all">

          <div class="edit-container1">
            <!-- ユーザーがアイコンを設定している場合は user.icon、そうでなければデフォルトアイコン -->
            <img src="{% if user.icon %}{{ user.icon.url }}{% else %}static/images/icon.svg{% endif %}" alt="プロフィール画像" class="profile-preview" id="profilePreview">
            <label for="profileImageInput" class="file-input-label">
              ファイルを選択
            </label>
            <input type="file" id="profileImageInput" name="profile_image" accept="image/*" class="file-input">
          </div>


          <div class="edit-container2">
            <div class="user-item">
              <label for="name">
                ユーザー名
              </label>
              <input class="box" type="text" name="name" maxlength="20" placeholder="山田　太郎">
            </div>
            <div class="user-item">
              <label for="height">
                身長
              </label>
              <input class="box" type="number" inputmode="numeric" name="height" min="100" max="250" placeholder="160">
            </div>
            <div class="user-item">
              <label for="weight">
                体重
              </label>
              <input class="box" type="number" inputmode="numeric" name="weight" min="20" max="200" placeholder="63">
            </div>
            <div class="user-item">
              <label>性別</label>
              <label><input type="radio" name="gender" value="male"> 男性</label>
              <label><input type="radio" name="gender" value="female"> 女性</label>
              <label><input type="radio" name="gender" value="other"> その他</label>
            </div>
            <div class="user-item">
              <label>
                目標スコア
              </label>
              <input class="box" type="number" inputmode="numeric" min="10" max="100" placeholder="80">
            </div>
          </div>
        </div>
        <div class="save-btn">
        <a href="{% url 'accounts:profile' %}"><button type="submit"><img src="{% static 'images/save.svg' %}" alt="保存アイコン" width="24" height="24">保存する</button></a>
        </div>
      </div>
    </form>
  </main>
  {% endblock %}
