{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock %}

{% block content %}

  <div class="signin-section">
    <div class="signin-logo">
      <img src="static/images/logo.svg" alt="logo">
    </div>
    <form method="POST">
      {% csrf_token %}
      <!-- {% for error in form.errors.values %} -->
      <!-- {{ error }} -->
      <!-- {% endfor %} -->
      <div class="user-input">
        <label>ユーザー名</label>
        <input type="text" name="username">
      </div>
      <div class="user-input">
        <label>パスワード</label>
        <input type="password" name="password1">
      </div>
      <div class="user-input">
        <label>確認用パスワード</label>
        <input type="password" name="password2">
      </div>
      <div class="signin-button">
        <button type="submit">Habitoをはじめる！</button>
      </div>
    </form>
    <div class="login-link">
      <a href="login.html">ログインはこちらから</a>
    </div>
  </div>

  {% endblock %}