{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}

{% block content %}
  <main>
    <div class="detail-main">

      <div class="cook-container-1">
        {% if recipe.image %}
          <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
        {% else %}
          <img src="{% static 'images/giraffe.png' %}" alt="No Image">
        {% endif %}
      </div>
      <div class="cook-container-2">
        <div class="cook-item">
          
          <div class="cooking-name">
            <h2>{{ recipe.title }}</h2>
          </div>

          <div class="material">
            <h2>材料</h2>
            <div class="text-content">
              {{ recipe.ingredients|linebreaksbr }}
            </div>
          </div>

          <div class="recipe">
            <h2>レシピ</h2>
            <div class="text-content">
              {{ recipe.steps|linebreaksbr }}
            </div>
          </div>
          </div>
      </div>
    </div>

  </main>


{% endblock %}