{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<main>
  <div class="home-main">

    <div class="home-container-1">
      <h2>みんなの投稿</h2>

  <div class="all-post">
    {% for post in posts %}
      <div class="user-post">
        <a href="{% url 'contents:detail' post.pk %}">
          {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
          {% else %}
            {% load static %}
            <img src="{% static 'images/giraffe.png' %}" alt="no image">
          {% endif %}
          <h4>{{ post.title }}</h4>
        </a>
      </div>
  </div>
</div>
    <div class="home-container-2-spacer"></div>


    <div class="home-container-2">

      <div class="score-item">
        <div class="score-1">
          <h3>目標スコアまであと{{ points_to_target }}！</h3>
          <small>まずは３個から始めてみましょう。</small>

          {% for advice in advice_list %}
          <h4>やること{{ forloop.counter }}</h4>
          <p>{{ advice }}</p>
          {% empty %}
          <h4>完璧です！</h4>
          <p>今の調子を維持しましょう。</p>
          {% endfor %}
        </div>
      </div>
      <div class="menu-item">
        <h2>献立提案</h2>
        <div class="menu-item-images">

          {% for recipe in recipes %}
          <div class="menu-img">
            <a href="{% url 'core:detail' recipe.pk %}">
              {% if recipe.image %}
              <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}"
                style="width:100%; height:100%; object-fit:cover;">
              {% else %}
              <img src="{% static 'images/giraffe.png' %}" alt="No Image"
                style="width:100%; height:100%; object-fit:cover;">
              {% endif %}
            </a>
          </div>
          {% empty %}
          <p>現在提案できるレシピがありません。</p>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content%}
