:root{
  --bg: #FFFFFF;
  --bg2: #FFDA91;
  --bg3: #A7CDD8;
  --bg4: #F7C665;
  --bg5: #F1EADC;
  --bg6: #E3DCCF;
  --tx: #8C3737;
  --tx2: #38787E;
  --tx3: #85ABB6;
}

.home-main{
  margin: 0 2rem 5rem 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  align-items: flex-start;
  padding: 1rem;
}

.home-container-1{
  flex: 0 0 60%;
  background-color: var(--bg5);
  padding: 1.2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.home-container-1 h2{
  margin: 1rem 0 2rem 0;
  text-align: center;
  color: var(--tx);
}

.home-container-1 h3{
  color: black;
  margin-bottom: 1rem;
  text-align: center;
}

.home-container-1 a{
  margin: 2rem 0 1rem 0;
  text-align: center;
  color: var(--tx2);
  font-size: 1.2rem;
}

.all-post{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.user-post{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 9 / 11;
  background-color: var(--bg6);
  border-radius: 0.6rem;
  overflow: hidden;
}

.user-post img{
  margin: 1rem;
  width: 9rem;
  aspect-ratio: 1 / 1;
  background-color: var(--bg);
  border-radius: 0.6rem;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.home-container-2{
  flex: 0 0 30%;
  background-color: var(--bg4);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.score-1{
  padding: 1rem;
  background-color: #FFE6B4;
  border-radius: 10px;
}

.score-1 small{
  color: var(--tx2);
}

.score-1 h4{
  margin-top: 1rem;
  color: var(--tx3);
}

.score-txt{
  color: #B8DEE9;
}

.menu-item{
  margin: 2rem 0 1rem 0;
}

.menu-item-images{
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.menu-img{
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  background-color: #EAEAEA;
  text-align: center;
}


.bottom-1{
  position: fixed;
  right: 5%;
  bottom: 12%;
}

.bottom-1 button{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--bg2);
}
