:root{
  --bg: #FFFFFF;
  --bg2: #FFDA91;
  --bg3: #A7CDD8;
  --bg4: #F7C665;
  --bg5: #F1EADC;
  --tx: #8C3737;
  --tx2: #38787E;
  --tx3: #85ABB6;
}


*{
  overflow: hidden;
}


.info-section{
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--bg5);
  border-radius: 10px;
  box-shadow: 1px 2px 10px rgb(175, 171, 171);
  gap: 1.5rem;
}

.info-logo img{
  width: 10rem;
  height: auto;
}

.login-button, .signup-button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button button, .signup-button button{
  margin-top: 1.5rem;
  width: 12rem;
  height: 4rem;
  border-radius: 10px;
  border-style: hidden;
  font-size: 1.2rem;
  font-weight: bold;
}


.login-button button{
  background-color: var(--tx3);
}

.signup-button button{
  background-color: var(--bg4);
}

a {
  text-decoration: none;
  color: var(--bg);
}