:root{
  --bg: #FFFFFF;
  --bg2: #FFDA91;
  --bg3: #A7CDD8;
  --bg4: #F7C665;
  --bg5: #F1EADC;
  --tx: #8C3737;
  --tx2: #38787E;
  --tx3: #85ABB6;
}


*{
  overflow: hidden;
}

input{
  margin: 0.5rem;
  width: 40vh;
  height: 30vh;
  border-radius: 20px;
  margin-bottom: 1.5rem;
  border-style: hidden;
}

.post-section{
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--bg5);
  border-radius: 10px;
  box-shadow: 1px 2px 10px rgb(175, 171, 171);
  gap: 1.5rem;
}

.post-title{
  margin-top: 2rem;
}

.post-item{
  display: flex;

}


.user-input{
  padding: 0 2rem;
  width: 40vh;
  background-color: var(--bg5);
}



.post-button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-button button{
  margin-top: 0.5rem;
  width: 12rem;
  height: 3rem;
  border-radius: 20px;
  border-style: hidden;
  background-color: var(--tx3);
  font-size: 1rem;
  color: var(--bg);
}

.post-button a{
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
}


