:root{
  --bg: #FFFFFF;
  --bg2: #FFDA91;
  --bg3: #A7CDD8;
  --bg4: #F7C665;
  --bg5: #F1EADC;
  --tx: #8C3737;
  --tx2: #38787E;
  --tx3: #85ABB6;
}

*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  resize: inherit;
}

body{
  background-color: var(--bg);
}

header{
  display: flex;
  gap: 5rem;
}

.user-1, .user-2{
  margin-top: 1rem;
}

.user-1{
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 30%;
  height: 5%;
  border-radius: 40px;
  background-color: #85ABB6;
  font-size: 0.8rem;
  gap: 3rem;
  scale: 0.9;
}

.score-txt{
  font-weight: bold;
  font-size: 1rem;
}

.score-img{
  width: 5rem;
  height: 5rem;
  background-color: var(--bg3);
  border-radius: 20px;
}

.user-2{
  padding: 1rem;
  display: flex;
  width: 70%;
  background-color: var(--bg2);
  border-radius: 50px 0 0 50px;
}

header a{
  color: var(--tx);
  text-decoration: none;
}

.top{
  margin-right: 7rem;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 23rem;
}

header .user-1 p{
  margin-left: 2rem;
}



footer {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  background: var(--bg3);
}

footer nav {
  width: 100%;
  display: flex;
  gap: 10rem;
}

footer nav a{
  margin: 0 1rem;
  padding: 0.2rem 0.4rem;
  color: var(--tx);
  font-weight: bold;
  text-decoration: none;
  border-radius: 10%;
  transition: 0.2s ease;
  border-radius: 20px;
  background-color: #C3E4ED;
  transform: scale(0.9);
}

footer nav a:hover {
  border-radius: 20px;
  background-color: #C3E4ED;
  transform: scale(1);
}
