<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tec-jam(team8)</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block extra_css %}{% endblock %}
</head>



<body>
  <header>
    <div class="user-1">
      <div class="score-txt">今日のスコア</div>
      <div class="score-img"><img src="{% static 'images/detail.svg' %}" alt=""><!--{{ graph }}--></div>
    </div>

    <div class="user-2">
      <div class="header-main-1">
        <a href="{% url 'core:dashboard' %}"><img src="{% static 'images/logo.svg' %}" alt="app-logo"></a>
        <p>頑張らなくても、毎日の食事だけで健康に。</p>
      </div>
      <div class="header-main-2">
        <!-- {% if use.is_authenticated %} -->
        <a href="{% url 'core:dashboard' %}"><img src="{% static 'images/account.svg' %}" alt="icon"></a>
        <!-- {% else %} -->
        <!-- <a href="mypage.html"><img src="static/images/profile.svg" alt="icon" width="24" height="24"></a> -->
        <!-- {% endif %} -->
      </div>
    </div>
  </header>

  {% block content %}
  {% endblock %}

  <footer>
    <div class="bottom-2">
      <nav>
        <a class="homelink" href="{% url 'core:dashboard' %}">
          <img src="{% static 'images/home.svg' %}" alt="ホームアイコン" width="24" height="24">ホーム
        </a>
        <a class="detaillink" href="{% url 'core:detail' 1 %}">
          <img src="{% static 'images/detail.svg' %}" alt="メモアイコン" width="24" height="24">献立詳細
        </a>
        <a class="mypagelink" href="{% url 'accounts:profile' %}">
          <img src="{% static 'images/mypage.svg' %}" alt="マイページアイコン" width="24" height="24">マイページ
        </a>
        <a class="postlink" href="{% url 'contents:create' %}">
          <img src="{% static 'images/post.svg' %}" alt="投稿アイコン" width="24" height="24">投稿
        </a>
      </nav>
    </div>
  </footer>
  <script src="{% static 'js/main.js' %}"></script>
</body>


</html>