{% load static %}
{% static 'css/style.css' %}
{% block extra_css %}{% endblock %}


{% block content %}
  <main>
    <div class="post-detail-main">


      <div class="post-detail-container-1">
        <img src="static/images/giraffe.png" alt="cooking-image">
      </div>

      <div class="post-detail-container-2">
        <div class="post-detail-item">
          <div class="user-name">
            <h2>@user_name{{ user_name }}</h2>
          </div>
          <div class="post-detail-all">
            {{ post_detail_all }}
            <br>-- text -- text -- text -- text -- text -- text
            <br>-- text -- text -- text -- text -- text -- text
            <br>-- text -- text -- text -- text -- text -- text
            <br>-- text -- text -- text -- text -- text -- text
            <br>-- text -- text -- text -- text -- text -- text
            <br>-- text -- text -- text -- text -- text -- text
          </div>
        </div>
      </div>
    </div>

  </main>

  {% endblock %}