<!--  -->

<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tec-jam(team8)</title>
  <!-- {% load static %} -->
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/post.css"><!-- {% static 'css/style.css' %} -->
  <!-- {% block extra_css %}{% endblock %} -->
  <script src="static/js/main.js" defer></script>
</head>


<body>
<header>
    <div class="user-1">
        <div class="score-txt">今日のスコア</div>
        <div class="score-img"><img src="static/images/homescore.png" alt=""><!--{{ graph }}--></div>
    </div>

    <div class="user-2">
      <div class="header-main-1">
        <a href="#"><img src="static/images/logo.svg" alt="app-loogo"></a>
        <p>頑張らなくても、毎日の食事だけで健康に。</p>
      </div>
      <div class="header-main-2">
        <!-- {% if use.is_authenticated %} -->
        <a href="mypage.html"><img src="static/images/account.svg" alt="icon"></a><!-- {% user_icon %} -->
        <!-- {% else %} -->
        <!-- <a href="mypage.html"><img src="static/images/profile.svg" alt="icon" width="24" height="24"></a> -->
        <!-- {% endif %} -->
      </div>
    </div>
</header>

  <!-- ここから各ページの中身 --><!-- ここから各ページの中身 --><!-- ここから各ページの中身 --><!-- ここから各ページの中身 --><!-- ここから各ページの中身 --><!-- ここから各ページの中身 -->
  <!-- {% block content %} -->

  <div class="post-section">
    <div class="post-title">
      <h2>投稿</h2>
    </div>
    <form method="POST">
      <!-- {% csrf_token %} -->
      <!-- {% for error in form.errors.values %} -->
      <!-- {{ error }} -->
      <!-- {% endfor %} -->
      <div class="post-item">
        <div class="user-input">
          <div class="image-preview-container" id="imagePreviewContainer">
            <img id="imagePreview" src="" alt="プレビュー">
            <div class="placeholder-text">画像を選択してください</div>
          </div>
          <label for="imageInput" class="file-select-label">画像を選択</label>
          <input type="file" id="imageInput" name="image" accept="image/*">
        </div>
        <div class="user-input">
          <div class="text-preview-container">
          <input type="text" name="text" placeholder="文字を入力してください">
          </div>
        </div>
      </div>

      <div class="post-button">
        <button type="submit"><a href="home.html">投稿する！</a></button>
      </div>

    </form>
  </div>

  <!-- {% endblock %} -->
  <!-- ここまで各ページの中身 --><!-- ここまで各ページの中身 --><!-- ここまで各ページの中身 --><!-- ここまで各ページの中身 --><!-- ここまで各ページの中身 --><!-- ここまで各ページの中身 -->

  <footer>
    <div class="bottom-2">
      <nav>
        <a class="homelink" href="home.html"><img src="static/images/home.svg" alt="ホームアイコン" width="24"
            height="24">ホーム</a><!-- {% static 'icons/home.svg' %} -->
        <a class="detaillink" href="detail.html"><img src="static/images/detail.svg" alt="メモアイコン" width="24"
            height="24">献立詳細</a><!-- {% static 'icons/detail.svg' %} -->
        <a class="mypagelink" href="mypage.html"><img src="static/images/mypage.svg" alt="マイページアイコン" width="24"
            height="24">マイページ</a><!-- {% static 'icons/mypage.svg' %} -->
        <a class="postlink" href="post.html"><img src="static/images/post.svg" alt="投稿アイコン" width="24"
            height="24">投稿</a><!-- {% static 'icons/post.svg' %} -->
      </nav>
    </div>
  </footer>
</body>


</html>