{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock %}

{% block content %}

<div class="post-section">
  <div class="post-title">
    <h2>投稿</h2>
  </div>
  
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for error in form.errors.values %}
    {{ error }}
    {% endfor %}
    <div class="post-item">
      <div class="user-input">
        <div class="image-preview-container" id="imagePreviewContainer">
          <img id="imagePreview" src="" alt="プレビュー">
          <div class="placeholder-text">画像を選択してください</div>
        </div>
        <label for="imageInput" class="file-select-label">画像を選択</label>
        <input type="file" id="imageInput" name="image" accept="image/*">
      </div>
      <div class="user-input">
        <div class="text-preview-container">
          
          <input type="text" name="title" placeholder="料理名">
          
          <textarea name="ingredients" placeholder="材料"></textarea>
          <textarea name="ingredients_num" placeholder="材料の量"></textarea>
          <textarea name="recipe" placeholder="作り方（任意）"></textarea>
        </div>
      </div>
    </div>

    <div class="post-button">
      <button type="submit">投稿する！</button>
    </div>

  </form>
</div>

{% endblock %}